---
// || Styles
import "../../styles/scss/components/sections/cta.scss";
// || Components
import Button from "../Button.astro";
---

<section class="cta is--background-colored">
  <div class="container">
    <h1 class="title">Pellentesque suscipit fringilla libero eu.</h1>
    <Button primary large>Get a Demo</Button>
  </div>
</section>
