---
import "../../styles/scss/components/sections/home.scss";
import Clients from "./sub-sections/Clients.astro";
import Community from "./sub-sections/Community.astro";
import Hero from "./sub-sections/Hero.astro";
---

<section class="home__section container">
  <div class="hero">
    <Hero />
  </div>
  <div class="clients">
    <Clients />
  </div>
  <div class="community">
    <Community />
  </div>
</section>
