---
import { Image } from "astro:assets";
// || Styles
import "../../../styles/scss/components/sections/sub-sections/customers.scss";
// || Components
import LogoContainer from "../../LogoContainer.astro";
import TextButton from "../../TextButton.astro";
// || Images
import { logo, logo1, logo2, logo3, logo4 } from "../../../assets/logo/logos";
// import sectionImage from "";
const logos = [logo, logo1, logo2, logo3, logo4];
---

<section class="customers is--background-colored">
  <div class="container">
    <div class="customers__image--container imgWrapper">
      <Image src={"/images/teslaLogo.jpg"} width={325} height={325} alt="" />
    </div>
    <div class="right-side">
      <div class="right-side__content">
        <p>
          Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis
          sem dui, vel rutrum risus tincidunt ullamcorper. Proin eu enim metus.
          Vivamus sed libero ornare, tristique quam in, gravida enim. Nullam ut
          molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula
          molestie, nec molestie mi blandit. Suspendisse cursus tellus sed augue
          ultrices, quis tristique nulla sodales. Suspendisse eget lorem eu
          turpis vestibulum pretium. Suspendisse potenti. Quisque malesuada enim
          sapien, vitae placerat ante feugiat eget. Quisque vulputate odio
          neque, eget efficitur libero condimentum id. Curabitur id nibh id sem
          dignissim finibus ac sit amet magna.
        </p>
        <div class="customer">
          <h4 class="customer--name is--color-brand">John Doe</h4>
          <p>British Dragon Boat Racing Association</p>
        </div>
      </div>
      <div class="right-side__logo-container">
        <LogoContainer {logos} />
        <TextButton classes="is--color-brand">Meet all customers</TextButton>
      </div>
    </div>
  </div>
</section>
